.containerMovies {
    padding: 30px;
    .containerFilters {
        display: flex;
        align-items: flex-end;
        .close {
            cursor: pointer;
            color: grey;
            margin-left: 10px;
            margin-bottom: 8px;
        }
    }
    .allMovies {
        display: flex;
        flex-direction: column;
        .moviesList {
            display: flex;
            margin: 20px 0;
            margin-left: 8px;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .bold {
            font-weight: bold;
            margin-left: 8px;
            margin-bottom: 0;
        }
    }
    .cardList {
        position: relative;
        .deleteBtn {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            color: #141414;
            width: 36px;
            height: 36px;
            background: white;
        }
    }
}
