.containerMovie {
    display: flex;
    flex-direction: column;
    padding: 50px;
    .containerImgMovie {
        width: 250px;
        cursor: pointer;
    }
    .containerTextMovie {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .containerGenres {
        display: flex;
        align-items: baseline;
        & p {
            font-weight: bold;
            margin-right: 10px;
        }
    }
    .linkBack, .linkRecommendations {
        text-decoration: none;
        display: contents;
    }
    .movieAndRecommendation {
        display: flex;
        flex-direction: column;
    }
    .containerRecommendations {
        display: flex;
        margin-top: 20px;
        overflow-x: scroll;
        width: 50%;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
