.containerMovie {
    display: flex;
    flex-direction: column;
    padding: 50px;
    .containerImgMovie {
        cursor: pointer;
        @media only screen and (min-width: 600px) {
            width: 250px;
        }
    }
    .containerTextMovie {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: inherit;
    }
    .containerGenres {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        & p {
            font-weight: bold;
            margin-right: 10px;
        }
    }
    .linkBack, .linkRecommendations {
        text-decoration: none;
        display: contents;
    }
    .movieAndRecommendation {
        display: flex;
        flex-direction: column;
        .rootCard {
            display: flex;
            @media only screen and (max-width: 599px) {
                flex-direction: column;
            }
        }
    }
    .containerRecommendations {
        display: flex;
        margin-top: 20px;
        overflow-x: scroll;
        width: 50%;
        @media only screen and (max-width: 839px) {
            width: 100%;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    @media only screen and (max-width: 479px) {
        padding: 10px;
    }
}
